:root{
    --main-bg-color: #fff;
    --primary-text-color: #000;

    --hover-color: rgb(0, 0, 0, .05);

    --border: 1px solid rgb(219, 219, 219);

    --primary-button-color: rgb(0, 149, 246);
    --primary-button-text-color: #fff;
    --primary-button-border-radius: 8px;
}


// font

// Define font faces
@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/Segoe UI.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: "Segoe UI";
}

button{
    font-size: 14px;
    line-height: 18px;
    padding: 7px 16px;
    border: none;
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
    border-radius: var(--primary-button-border-radius);
    cursor: pointer;
}

p{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--primary-text-color);
}